#tableHead{
    display: flex;
}

#tableBody{
    display: flex;
    flex-direction: column;
}

#tableData{
    display: flex;
}

.tableHeadElement{
    display: flex;
    justify-content: center;
    width: 7%;
    margin: 5px;
}

.tableBodyElement{
    word-wrap: break-word;
    width: 7%;
    margin: 5px;
    resize: none;
    text-align: center;
}

